attrs==23.2.0
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
contourpy==1.2.1
cycler==0.12.1
fiona==1.9.6
fonttools==4.53.0
geopandas==0.14.4
gurobipy==11.0.3
idna==3.7
importlib_metadata==7.2.0
importlib_resources==6.4.0
kiwisolver==1.4.5
matplotlib==3.9.0
msgpack==1.0.8
networkx==3.2.1
numpy==1.26.3
osmnx==1.9.3
packaging==24.1
pandas==2.2.2
pillow==10.3.0
PuLP==2.9.0
pygame==2.6.0
PyOpenGL==3.1.7
pyparsing==3.1.2
pyproj==3.6.1
PyQt6==6.7.1
PyQt6-Qt6==6.7.2
PyQt6_sip==13.8.0
python-dateutil==2.9.0.post0
pytz==2024.1
pyzmq==26.0.3
requests==2.32.3
roadroute-lib @ git+https://github.com/ravenvanewijk/roadroute-lib@5dc9e78f3da182f914a511142b93532fa7ce3274
Rtree==1.3.0
scipy==1.14.0
setuptools==69.5.1
shapely==2.0.4
six==1.16.0
taxicab_st @ git+https://github.com/ravenvanewijk/taxicab-st.git@6474975675495924dc76508e655c79d3d5f9316a
tzdata==2024.1
urllib3==1.26.19
wheel==0.43.0
zipp==3.19.2
zmq==0.0.0
